---
import PageHeading from "../../components/PageHeading.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogList from "../../components/Blog/BlogList.astro";

const { tag } = Astro.params as { tag: string };
const postsCollection = await getCollection(
  "blog",
  (entry: CollectionEntry<"blog">) => {
    return (entry.data.tags as string[]).includes(tag);
  }
);
const posts = postsCollection.map(({ data, id }) => ({ ...data, link: id }));

const noRelatedPostsFound = posts.length === 0;
---

<BaseLayout pageTitle={tag}>
  <PageHeading
  contextLabel="#TAGS"
    redirectId="tag-title"
    text={tag}
    subtext={`Explore blogs tagged as related to ${tag}`}
  />
  {
    noRelatedPostsFound ? (
      <div>No blogs related to {tag}</div>
    ) : (
      <BlogList  posts={posts} />
    )
  }
</BaseLayout>
